/* ページ背景と中央寄せ */
.attendance-wrapper {
    background: #f5f5f5;
    min-height: calc(100vh - 90px);
    padding: 60px;
}

/* 白枠カード */
.attendance-wrapper__inner {
    width: 850px;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    padding: 60px;
    position: relative;
}

/* タイトル：白枠左上外側 */
.attendance-wrapper__title {
    width: 850px;
    margin: 0 auto 16px auto;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 9px;
}

/* 左の黒線 */
.attendance-wrapper__title::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 28px;
    background-color: #333;
    border-radius: 2px;
}

/* テーブル */
.attendance-card {
    width: 100%;
    border-collapse: collapse;
}

/* ヘッダー */
.attendance-card th {
    background: #fff;
    color: #333;
    font-weight: bold;
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #e0e0e0;
}

/* 行 */
.attendance-card td {
    padding: 12px;
    border-bottom: 1px solid #e0e0e0;
}

/* 詳細リンク */
.attendance-card a {
    color: #333;
    text-decoration: none;
}

/* 承認文字 */
.tab-area {
    width: 750px;
    margin: 0 auto 20px auto;
    display: flex;
    gap: 30px;
    border-bottom: 2px solid #333;
        /* ← これが下線 */
        padding-bottom: 10px;
}