.attendance {
    min-height: 100vh;
    display: flex;
    background: #f2f2f2;   
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

/* 勤務外 */
.attendance__status {
    font-size: 16px;
    /* 小さめ */
    color: #555;
    padding: 5px 15px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 10px;
}

/* 日付 */
.attendance__date {
    font-size: 22px;
    margin-bottom: 5px;
}

/* 時間 */
.attendance__time {
    font-size: 72px;
    /* 大きめ */
    font-weight: bold;
    /* 太文字 */
    margin: 20px 0;
}

/* 出勤ボタン */
.attendance__button {
    width: 150px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background: #000; 
    color: #fff;
    border: 2px solid #000;
    /* まるふち */
    border-radius: 20px;
    /* 丸み */
    cursor: pointer;
    transition: 0.2s;
}

.attendance__button:hover {
    background: #000;
    color: #fff;
}

.attendance__actions form {
    width: auto;
}

.attendance__actions {
    display: flex;
    justify-content: center;
    gap: 20px; /* ボタン間の余白 */
}

.attendance__actions form {
    margin: 0;
}

.attendance__actions button {
    width: 180px;
}

/* 休憩入ボタン用 */
.attendance__button--break {
   background: #fff;      /* 白 */
    color: #000;           /* 黒文字 */
    border: none;          /* 縁なし */
    font-size: 20px;
    border-radius: 20px;   /* 丸みだけ */
    cursor: pointer;
    transition: 0.2s;
}

