.attendance-detail {
    background: #f5f5f5;
    min-height: calc(100vh - 80px);
    padding: 60px;
}

/* 共通の横幅と中央寄せ */
.attendance-detail__inner {
    width: 600px;
    margin: 0 auto;
}

/* タイトル */
.attendance-detail__title {
    margin-left: 1%;
    margin-bottom: 8px;
    font-size: 25px;
    font-weight: bold;
}
.attendance-detail__title {
    position: relative;
    padding-left: 14px;
    /* 線との間隔 */
}

.attendance-detail__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    width: 4px;
    height: 28px;
    background-color: #333;
    /* 線の色 */
    border-radius: 2px;
}

/* 枠 */
.attendance-detail__card {
    background: #fff;
    width: 600px;
    margin: 0 auto;
    border-radius: 8px;
    overflow: hidden;
}

/* 各行 */
.attendance-detail__row {
    display: flex;
    padding: 15px 100px 15px 20px;
    border-bottom: 1px solid #e0e0e0;
    align-items: center;
}

/* ラベル */
.label {
    width: 230px;
    font-weight: bold;
    text-align: left;
}

/* 値 */
.value {
    flex: 1;
    text-align: left;
    
}

/* input */
.value input[type="time"] {
    padding: 4px 6px;
    text-align: left;
}

/* textarea */
textarea.value {
    width: 100%;
    min-height: 60px;
    text-align: left;
}

/* ボタン */
.attendance-detail__action {
    width: 600px;
    margin: 15px auto 0;
    text-align: right;
}

.submit-btn {
    background: #333;
    color: #fff;
    padding: 10px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

