.login-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
}


.form {
    max-width: 600px;
    /* ← フォーム全体の幅 */
    margin: 0 auto;
}

/* タイトル */
.form h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form__group {
    margin-bottom: 40px;
    /* 余白 */
}

.form__group-title {
    text-align: left;
    margin-bottom: 5px;
    
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text {
    width: 100%;
   
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 3px;
    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #000;
    color: #fff;
    cursor: pointer;
}

.register__link {
    margin-top: 20px;
    text-align: center;
}

.form__group label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

